
.logo{
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    width: 70px;
    height: 70px;
    
}

.brand{
margin-top:0px;
  background-color: #222222; 
}

 .navbar-nav > .active > a:focus {

      background: #C9302C;
 }

 .navbar {
   margin-bottom:40px;
 }

